<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.robsway.remotetestmonitor"
        version   = "2.0.2">
  <name>Remote Test Monitor</name>

  <description>
    Remote test monitor application
  </description>

  <author href="http://robsway.com" email="support@robsway.com">
    Rob Pamment
  </author>

  <preference name="orientation"      value="default" />
  <preference name="target-device"    value="universal" />

  <access origin="*"/>

</widget>